@model IEnumerable<TrainingApplication.Models.NewUserRegistration>

@{
    ViewBag.Title = "Index";
    // Layout = "~/Views/_ViewStart.cshtml";
}
<h1>WelCome: </h1>
@*<h1>@Session["Username"].ToString()</h1>*@



