@model IEnumerable<TrainingApplication.Models.NewUserRegistration>

@{
    ViewBag.Title = "Index";
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
    string cLayout = "~/Views/Shared/_Layout.cshtml";
}
<h4>Registarion Sussessful....Please Login with Credentials</h4>
@*<h4>@Session["username"].ToString()</h4>*@
