@model TrainingApplication.Models.NewUserRegistration
@{
    ViewBag.Title = "welcome";
    // Layout = "~/Views/_ViewStart.cshtml";
}

<h1>@Session["Username"].ToString()</h1>

<div>
    @Html.ActionLink("List Of Program", "CreateNewTrainingProgram")
</div>