@model IEnumerable<TrainingApplication.Models.Room>

@{
    ViewBag.Title = "Create";
    var controller = HttpContext.Current.Request.RequestContext.RouteData.Values["Controller"].ToString();
    Layout = "~/Views/Shared/_myLayout.cshtml";
}
<br>
<br>
<h4>Room List</h4>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.roomName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.roomName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.roomNo })      |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.roomNo })
        </td>
    </tr>
}

</table>
